* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .cards {
        width: 55vw;
        border-radius: 12px;
        background-color: #e2dfdf;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        gap: 10px;

        .card {
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: rgb(110, 110, 110);

            img {
                width: 75%;
                height: 180px;
            }

            p {
                font-size: 12px;
            }

            button {
                width: fit-content;
                padding: 5px;
                border-radius: 5px;
                color: aliceblue;
                background-color: #cf6117;
                border: 0;
                transition-duration: 0.4s;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}